@import "../../../node_modules/bootstrap/scss/bootstrap";

.createHeader {
  width: calc(100vw - 15px);
  margin: 0 auto !important;
  position: fixed;
  top: 5px;
  left: 7.5px;
  float: left;
  border: solid 1px white;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  background-color: black;
  z-index: 2;
  transition: top ease-in-out 0.5s;
  button {
    @extend .btn;
    @extend .m-3;
    @extend .p-3;
    border: solid 2px white;
    background-color: transparent;
    color: white;
  }
  .userContainer {
    height: 80%;
    border: solid 2px white;
    @extend .btn;
    @extend .m-3;
    @extend .p-3;
    span {
      @extend .m-1;
      color: white;
    }
  }
  button:hover {
    border: solid 2px $primary;
    color: white !important;
    transition: all ease-in-out 0.3s;
  }
}
