@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./scss/header.scss";
body {
  background-color: black !important;
  height: 100vh;
  width: 100vw;
}

.userContainer:hover {
  border: solid 2px $success;
  transition: all ease-in-out 0.3s;
}
//TODO upięknij tabelkę
table {
  transition: top ease-in-out 0.5s;
  position: absolute;
  left: 7.5px;
  border: solid 1px white;
  overflow: hidden;
  thead {
    position: sticky;
  }
  tbody {
    overflow: scroll;
    vertical-align: top;
  }
  tr {
    cursor: pointer;
    max-height: 10%;
  }
  tr:hover {
    border: solid 1px $success;
  }
}
.lobbyList {
  overflow-x: hidden;
  overflow-y: auto;
}
*::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 470px) {
  table {
    width: calc(50vw - 7.5px);
    thead,
    tbody {
      tr {
        th:nth-child(2n + 1) {
          color: $primary;
        }
        th:nth-child(2n + 2) {
          color: white;
        }
        th:nth-child(3) {
          display: none;
        }
      }
    }
  }
  .rightContainer {
    width: calc(50vw - 7.5px);
  }
}

@media screen and (min-width: 471px) {
  table {
    width: calc(50vw - 7.5px);
    thead,
    tbody {
      tr {
        th:nth-child(2n + 1) {
          color: $primary;
        }
        th:nth-child(2n + 2) {
          color: white;
        }
      }
    }
  }
  .rightContainer {
    width: calc(50vw - 7.5px);
  }
}

.rightContainer {
  border: solid 1px white;
  position: absolute;
  display: flex;
  flex-direction: column;
  img {
    margin: 0 auto;
    width: 50%;
    height: 50%;
    max-width: 117.65px;
    max-height: 326px;
    margin-bottom: auto;
  }
  span {
    color: white;
    text-align: center;
  }
  .RightSideAuthcContainer {
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 50%;
    input {
      width: 90%;
      background-color: black;
      border: solid 1px white;
      @extend .form-control;
      margin: 0 auto;
    }
    input:focus {
      background-color: black;
      color: white;
      border-color: $primary;
    }
    button {
      color: $primary;
      @extend .m-3;
      @extend .btn;
      border: solid 1px white;
    }
    button:hover {
      color: $success;
    }
  }
}
