@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./scss/header.scss";
body {
  background-color: black !important;
  height: 100vh;
  width: 100vw;
}

.userContainer:hover {
  border: solid 2px $success;
  transition: all ease-in-out 0.3s;
}

table {
  transition: top ease-in-out 0.5s;
  position: absolute;
  left: 7.5px;
  border: solid 1px white;
  overflow: hidden;
  thead {
    position: sticky;
  }
  tbody {
    overflow: scroll;
    vertical-align: top;
  }
}
.lobbyList {
  overflow-x: hidden;
  overflow-y: auto;
}
*::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 470px) {
  table {
    width: calc(50vw - 7.5px);
    thead,
    tbody {
      tr {
        th:nth-child(2n + 1) {
          color: $primary;
        }
        th:nth-child(2n + 2) {
          color: white;
        }
        th:nth-child(3) {
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width: 471px) {
  table {
    width: calc(50vw - 7.5px);
    thead,
    tbody {
      tr {
        th:nth-child(2n + 1) {
          color: $primary;
        }
        th:nth-child(2n + 2) {
          color: white;
        }
      }
    }
  }
}
