@import "../../node_modules/bootstrap/scss/bootstrap";

#root {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: blue;
}
.page {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  z-index: 30;
  display: flex;
  flex-direction: column;
  .inputs {
    @extend .m-3;
    display: flex;
    flex-direction: column;
    form {
      display: flex;
      flex-direction: column;
    }
    input {
      @extend .m-2;
      color: white;
      background-color: transparent;
      border: solid 2px white;
    }
  }
  .buttons {
    @extend .mx-3;
    // @extend .mr/-3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button {
      @extend .btn;
      @extend .m-1;
      color: white;
      border: solid 1px white;
    }
    button:hover {
      @extend .btn-primary;
    }
  }
}
